html,
body {
    height: 100%;
}

html,
body {
    height: 100%;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

.container {
    margin: 5px;
    padding: 5px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}

.box {
    width: 426px;
    padding: 10px 0 10px 0;
    

}

.started_on{
    background-color: #1e90ff;
    width: 100%;
    text-align: center;
    
}

.started_off{
    display: none;
}

#caption {

    width: 100%;
    text-align: center;
    background-color: #1e90ff;
}

header {
    border-bottom: 1px solid #bdbdbd;
}

footer {
    flex: 0 0 auto;
    text-align: center;
    background-color: #1e90ff;
    margin-bottom: 20px;
}

table {
    border: 1px solid black;
    text-align: center;
}

table td {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}



table .colors1 {
    background-color: black;
}

table  .colors2 {
    background-color: gray;
}

table .colors3 {
    background-color: red;
}

table .colors4 {
    background-color: blue;
}

table .colors5 {
    background-color: green;
}

table .colors6 {
    background-color: yellow;
}

table .colors7 {
    background-color: orangered;
}

table .colors8 {
    background-color: navy;
}

/* table .visible{
    display: inline-block;
} */

table .invisible {
    background-color: white;
    /* display: none; */
}